body{
    margin: 0;
    font-family: sans-serif;
}

.Login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Degradê = Gadient */
    background: linear-gradient(120deg, #045485, #00C2CB);
}

.login-container{
    min-height: 500px;
    width: 400px;
    background-color: white;
    box-sizing: border-box;
    padding: 35px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title{
    margin-bottom: 50px;
    color: #045485;
}

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.login-input{
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    
}

.login-input-border{
    width: 100%;
    height: 2px;
    /* background-color: #00C2CB; */
    background: linear-gradient(120deg, #045485, #00C2CB);
    margin-bottom:30px; 
    transition: .3s ease-in;
}

.login-input-border ::after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    margin-bottom: 16px;
    background: linear-gradient(120deg, #045485, #00C2CB);
    transition: .3s ease-in;
}

.login-submit{
    width: 100%;
    height: 50px;
    border: unset;
    outline: none;
    background: linear-gradient(120deg, #045485, #00C2CB);
    color: white;
    border-radius: 8px;
    background-size: 200%;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in;
    margin-bottom: 30px;
    margin-top: 30px;
}

.recuperar-senha{
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: cornflowerblue;
}