*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: white;
  color: black;
}

html{
  font-family: Inter, sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: white;
}

nav{
  max-width: 1120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo{
  display:flex; 
  flex-direction: row; 
  height: 60px; 
  text-align: right;
  justify-content: right; 
}

main{
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #FA4716;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding: 20px;
}

li a:hover {
  background-color: #FA4716;
}

li a:hover:not(.ativa) {
  background-color: #FA4716;
}

.ativa {
  background-color: #FA4716;
  font-weight: 600;
}

.container-imagens h2 {
  position: absolute;
  top: 240px;
  right: 110px;
  font-size: 50px;
  color: white;
  }

.container-imagens p {
  position: absolute;
  top: 350px;
  right: 40px;
  font-size: 30px;
  color: white;
  text-align: center;
 } 

 .container-imagens article{
  position: absolute;
  top: 480px;
  right: 130px;
  font-size: 20px;
  text-decoration: underline white;
 }
 .container-imagens span{
  position: absolute;
  top: 600px;
  right: 150px;
  font-size: 20px;
  text-align: center;
 }

 mark{
  background-color: #FA4716;
  color: white;
}

.footer{
  font-size: 5px;
  border-top: 2px solid #FA4716;
  text-align: center;
}
.imagem-footer{
  text-align: center;
}




