*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Inter, sans-serif;
    font-weight: 500;
  }

nav{
    max-width: 1120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #FA4716;
}


  
li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 20px;
}
  
li a:hover {
    background-color: #FA4716;
}
  
li a:hover:not(.ativa) {
    background-color: #FA4716;
}

.logo{
    display:flex; 
    flex-direction: row; 
    height: 60px; 
    text-align: right;
    justify-content: right; 
  }
  
.ativa {
    background-color: #FA4716;
    font-weight: 600;
}


#titulo{
    
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: black;
    margin-left: 34%;
    margin-top: 2%;
}
 
#subtitulo{
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: black;
    margin-left: 40%;
    margin-top: 2%;
}
 
fieldset{
    border: 0;
}
 
form{
    background-color: white;
    font-family: sans-serif;
    font-size: 1em;
    color: black;
    margin-left: 40%;
    margin-top: 2%;
    justify-content: center;
}
 
input, textarea, label{
    border-radius: 5px;
}

.footer{
    font-size: 5px;
    border-top: 2px solid #FA4716;
    text-align: center;
  }
  .imagem-footer{
    text-align: center;
  }
